{% extends 'home/layout.html' %}
{% load static %}

{% block content %}

    <!-- Token Information -->
    <section class="videobg" id="video1">
        <img src="{% static 'home/assets/Service Pages/Service_image3.jpg' %}" alt="Background Image" class="video">
        <div class="white-overlay" style="width: 45%;height: 75%; left: 26%;">
            <h2 style="top: 10%; left: 50%; color: black;" >REPORT SUBMITTED</h2>
            <div class="product-info">
                <p style="margin-left: 5%; margin-right: 5%;">Following its respect for creativity and protection of intellectual property, Louis Vuitton has a zero tolerance policy to counterfeiting. Preserving the creativity and the rights of designers, artists and brands is vital to their long-term survival. One of the biggest threats to that survival today is counterfeiting, whose effects go far beyond buying a cheap bag on a street in a faraway city while on holiday. </p>
                <p style="margin-left: 5%; margin-right: 5%;">Thank you. </p>
            </div>
        </div>
    </section>
    
{% endblock %}